* {
    box-sizing: border-box;
}

.row {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row2 {
    margin-top: 15px;
}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}

.col-3 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}