.nav_bar {
    height: 65px;
    background-color: lightblue;
}

.nav_bar .logo {
    margin-left: 80%;
}

.form {
    margin-left: auto;
    margin-right: auto;
}

.results {
    display: inline-table;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 25px;
    display: inline-block;
    margin: 15px;
    text-align: center;
    margin-left: 12%;
}

.card2 {
    height: 200px;
    width: 350px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-table;
}

p {
    width: 400px;
    height: 150px;
    padding-left: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    font-size: 14px;
}

img {
    margin-top: 15px;
    margin-left: 5px;
}

.etsy_images {
    display: inline-block;
}

.search_container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.etsy_images {
    text-align: center;
}